* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: #f5f5f5;
  color: #4d4c4c;
}

h1 {
  font-weight: 700;
}

img.avatar {
  width: 50px;
}

.page-not-found {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.page-not-found .separator {
  width: 1px;
  height: 3rem;
  background: #ccc;
}

.table td,
.table th {
  white-space: nowrap !important;
}
